<div class="container">
    <div class="card mt-3">
        <div class="row">
            <div class="col">
                <h2 class="text-center">Create new appointment</h2>
            </div>
        </div>

        <div class="row mt-3 g-3">
            <div class="col-12 col-md-6">
                <input class="form-control" [(ngModel)]="newAppointmnentTitle" placeholder="Appointment description">
            </div>
            <div class="col-12 col-md-4">
                <div class="input-group">
                    <input class="form-control" placeholder="Select date" name="dp" [(ngModel)]="newAppointmentDate"
                        ngbDatepicker #d="ngbDatepicker" [minDate]="minDate" [maxDate]="maxDate" readonly
                        placement="bottom-left">
                    <button class="btn btn-outline-secondary calendar-btn" type="button" (click)="d.toggle()">
                        📅
                    </button>
                    <button class="btn btn-outline-info today-btn" type="button" (click)="setToday()">
                        Today
                    </button>
                    <button class="btn btn-outline-danger clear-btn" type="button" (click)="clearDate()" *ngIf="newAppointmentDate">
                        ✕
                    </button>
                </div>
            </div>
            <div class="col-12 col-md-2">
                <button class="btn btn-primary w-100" (click)="addAppointment()">Add</button>
            </div>
        </div>
    </div>

    <h2 class="text-center mt-5">Appointments</h2>
    <ul class="list-group mt-3">
        <li class="list-group-item d-flex flex-column flex-md-row justify-content-between align-items-start align-items-md-center"
            *ngFor="let appointment of appointments; index as i">
            <div class="mb-2 mb-md-0">
                <span class="d-block d-md-inline"><strong>ID:</strong> {{ appointment.id }} <span class="d-none d-md-inline">| </span></span>
                <span class="d-block d-md-inline"><strong>Description:</strong> {{ appointment.title }} <span class="d-none d-md-inline">| </span></span>
                <span class="d-block d-md-inline"><strong>Date:</strong> {{ appointment.date | date:'dd.MM.yyyy' }}</span>
            </div>
            <button class="btn btn-sm btn-danger align-self-end align-self-md-center" (click)="deleteAppointment(i)">Delete</button>
        </li>
    </ul>


</div>